.community-card {
  padding: 24px;
  margin: 24px;
  background-color: rgba($white, 1);
  border-radius: 12px;

  img {
    height: 80px;
    width: auto;

    @media (max-width: $breakpoint) {
      width: 100%;
      height: auto;
    }
  }
  @media (max-width: $breakpoint) {
    padding: 12px;
    margin: 12px;
  }
}
