.hero {
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .slack-button {
    position: absolute;
    bottom: 50px;
    right: 0;
    border-radius: 50%;
    padding: 12px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .svg-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      svg {
        width: 30px;
        height: auto;
      }

      &::before {
        content: '';
        position: absolute;
        top: -120%;
        left: -40%;
        height: 20px;
        width: 20px;
        background-color: $white;
        transform: rotate(45deg);
      }
      &::after {
        content: 'Join us on Slack';
        position: absolute;
        top: -155%;
        left: -400%;
        height: 20px;
        width: 150px;
        padding: 4px;
        border-radius: 20px;
        background-color: $white;
        color: $black;
        line-height: 20px;

        @media (max-width: $breakpoint) {
          left: -350%;
          width: 120px;
        }
      }
    }
  }
}

.dates {
  font-size: $H5;
}

.main-buttons {
  display: flex;
  justify-content: space-around;
  @media (max-width: $breakpoint) {
    flex-direction: column;
  }
}

.call-for-speakers {
  margin-top: 32px;
  font-size: $paragraph;
  background-color: #3770ff;
  border: none;
  padding: 12px 16px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 230px;
  background-color: $white;
  color: #1ab394;
  svg {
    margin-right: 16px;
  }
}

#devfolio-apply-now {
  margin-top: 32px;
  margin-right: 16px;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #3770ff;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;

  @media (max-width: $breakpoint) {
    margin-right: 0;
  }
}

#devfolio-apply-now:not([disabled]) {
  cursor: pointer;
}

#devfolio-apply-now:hover {
  background-color: #2954bf !important;
}
