@import './variables.scss';
@import './components/FAQs.scss';
@import './components//Header.scss';
@import './components/Hero.scss';
@import './components/Tracks.scss';
@import './components/ComingSoon.scss';
@import './components/Sketch.scss';
@import './components/Footer.scss';
@import './components/Navbar.scss';
@import './components/Sponsors.scss';
@import './components/About.scss';
@import './components/Team.scss';
@import './components/Community.scss';

html,
body {
  z-index: -9999;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: $black;
  font-size: 16px;
  @media (max-width: $breakpoint) {
    font-size: 14px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  color: $white;
  box-sizing: border-box;
  z-index: 5;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: $black;
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media (max-width: $breakpoint) {
    padding: 0 50px;
  }
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-big {
  font-size: $H1;
  font-weight: 500;
  margin: 8px 0;

  @media (max-width: $breakpoint) {
    font-size: $H2;
  }
}

.green {
  color: $green;
}

.link-green {
  color: $green;
  text-decoration: underline;
}

.section {
  position: relative;
  z-index: 0;
  padding: 48px 0;
  text-align: center;
}

.section-wrapper {
  text-align: left;

  @media (max-width: $breakpoint) {
    text-align: center;
  }
}

.section-heading {
  text-align: center;
  display: initial;
  font-size: $H2;
  margin-bottom: 48px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 3px;
    background-color: $blue;
    border-radius: 3px 0 0 3px;
    bottom: 0;
  }
  &::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 3px;
    background-color: $green;
    border-radius: 0 3px 3px 0;
    left: 20%;
    bottom: 0;
  }
}

h3 {
  display: initial;
  font-size: $H3;
  font-weight: 700;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 3px;
    background-color: $blue;
    border-radius: 3px 0 0 3px;
    bottom: 0;
  }
  &::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 3px;
    background-color: $green;
    border-radius: 0 3px 3px 0;
    left: 20%;
    bottom: 0;
  }
}

.section-wrapper {
  margin: 72px 0;
}

.social-links {
  margin-top: 48px;
  font-size: $H4;
  a {
    margin-right: 24px;
  }
}
