@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$white: #ffffff;
$black: #272121;
$green: #02fe89;
$blue: #1d61ff;
$yellow: #f5fe02;

$H1: 3.052em;
$H2: 2.441em;
$H3: 1.953em;
$H4: 1.563em;
$H5: 1.25em;
$paragraph: 1em;
$helper-text: 0.8em;
$copyright-text: 0.64em;

$breakpoint: 600px;
